@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="box">
        <div class="group">
            <div class="overlap">
                <div class="text-wrapper">Welkom User</div>
                <div class="div">Aankomende diensten</div>
                <div class="overlap-group">
                    <div class="table">
                        <div class="borders">
                            <div class="overlap-group-2">
                               
                                
                            </div>
                        </div>
                    </div>
                    <div class="text-wrapper-2">dag</div>
                    <div class="text-wrapper-3">Tijd</div>
                    <div class="text-wrapper-4">Pauze</div>
                    <div class="text-wrapper-5">datum</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>