@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="popup" onclick="myFunction()">
    Click me!
    <div>
        <form>
            <input type="date" id="name" name="name" placeholder="Start date" />
            <input type="date" id="name" name="name" placeholder="End date" />
            <input type="text" id="name" name="name" placeholder="Reden van verlof" />
        </form>
    </div>
</div>