@page
@model GeoProfs.Pages.RoosterModel
@{
}

<html>
<head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="float">
        <h2>Verlof aanvragen</h2>
        <button type="button" class="btn btn-primary float float-right" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
            Verlof aanvragen
        </button>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Verlof aanvragen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetForm()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="verlofForm" action="post">
                            <div class="form-group">
                                <label for="verlof" class="col-form-label">Reden van verlof</label>
                                <select class="form-control" id="verlof">
                                    <option value="Select an option">Select an option...</option>
                                    <option value="Ziek">Ziek</option>
                                    <option value="Vakantie">Vakantie</option>
                                    <option value="Begrafenis">Begrafenis</option>
                                    <option value="Bruiloft">Bruiloft</option>
                                    <option value="Medisch">Medisch</option>
                                    <option value="Anders...">Anders...</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Toevoeging *</label>
                                <textarea class="form-control" id="message-text" maxlength="200"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="start" class="col-form-label">Start datum</label>
                                <input type="date" class="form-control" id="start" name="startdate" placeholder="Start datum" />
                            </div>
                            <div class="form-group">
                                <label for="end" class="col-form-label">Eind datum</label>
                                <input type="date" class="form-control" id="end" name="enddate" placeholder="Eind datum" />
                            </div>
                            <div class="form-group">
                                <label for="start" class="col-form-label">Starttijd *</label>
                                <input type="time" class="form-control" id="start" name="start" placeholder="Starttijd" />
                            </div>
                            <div class="form-group">
                                <label for="end" class="col-form-label">Eindtijd *</label>
                                <input type="time" class="form-control" id="end" name="end" placeholder="Eindtijd" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="resetForm()">Close</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    const firebaseConfig = {
        apiKey: "AIzaSyCCzNwDI9iTiTEc0QTN0XU39RxqWR9XYm4",
        authDomain: "geoprofs-1b3fb.firebaseapp.com",
        projectId: "geoprofs-1b3fb",
        storageBucket: "geoprofs-1b3fb.appspot.com",
        messagingSenderId: "141244233397",
        appId: "1:141244233397:web:9e2ce2844d4ca7160e70fc",
        measurementId: "G-SZ15Q61C7Q"
    };

    function resetForm() {
        document.getElementById("verlofForm").reset();
    }
    </script>
</body>
</html>